{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign Up page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/mirror-login-form.css'%}">
	<link href="{% static 'http://infiniteiotdevices.com/images/logo.png'%}" rel="icon" sizes="16x16" type="image/gif" />
	<link href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'%}" rel="stylesheet">
</head>
<body>
	<div class="loginBox">
		<div class="glass">
			<img src="{% static 'image/gallery-02.jpg'%}" class="user">
			<h3>Sign Up Here</h3>

			<form method = 'post'>
				{% csrf_token %}
				<div class="" style="margin: 0;">
				{% for field in user_form %}
				<label for="formInput#text">{{field.label}}</label>
				{{field}}
				{% endfor %}
					
			</div> 
				<input type="submit" name="" value="Sign Up">
			</form>
		</div>
		
	</div>

</body>
</html>